<!DOCTYPE html>
<html>
<head>
    <title>Muckenlisten</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .header {
            text-align: center; /* Center the title */
            margin: 20px 0; /* Add some margin for spacing */
        }

        .tab-container {
            max-width: 1000px;
            margin: 0 auto;
        }

        .tab-buttons {
            display: flex;
            border-bottom: 1px solid #ccc;
            position: sticky;
            top: 0;
            z-index: 1001;
            background-color: #fff;
        }

        .tab-button {
            padding: 10px 20px;
            background-color: #f1f1f1;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s;
            flex-grow: 1;
            text-align: center;
        }

        .tab-button:hover {
            background-color: #ddd;
        }

        .tab-button.active {
            background-color: #fff;
            border-bottom: 2px solid #4CAF50;
        }

        .tab-content {
            display: none;
            padding: 20px;
            border: 1px solid #ccc;
            border-top: none;
        }

        .tab-content.active {
            display: block;
        }

        .table-container {
            overflow-y: auto;
            max-height: calc(100vh - 100px); /* Adjust based on your needs */
        }

        table {
            width: 90%;
            max-width: 800px;
            margin: 1rem auto;
            border-collapse: collapse;
        }

        th, td {
            padding: 0.75rem;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #add8e6;
            font-weight: bold;
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:nth-child(odd) {
            background-color: #ffffff;
        }

        @media screen and (max-width: 600px) {
            table {
                border: 0;
                width: 100%;
                max-width: none;
            }

            table thead {
                display: none;
            }

            table tr {
                margin-bottom: 0.5rem;
                display: block;
                border-bottom: 2px solid #ddd;
            }

            table td {
                display: block;
                text-align: right;
                border-bottom: 1px dotted #ddd;
            }

            table td:last-child {
                border-bottom: 0;
            }

            table td:before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-align: left;
            }
        }
    </style>
</head>
<body>
<div class="header">
    <h1>Muckenlisten</h1>
    <h2>🚧 <i>Erster, grober Entwurf</i></h2>
    <p>💡 Eingegangene Verbesserungsvorschläge sind
        <a href="https://github.com/AkaBlas/akalisten/issues">hier</a> zu finden.</p>
    <p>🕓 Zuletzt aktualisiert: {{ now.strftime("%d.%m.%Y %H:%M:%S") }}</p>
</div>
<div class="tab-container">
    <div class="tab-buttons">
        {% for poll in polls.values() %}
            <button class="tab-button"
                    data-tab="{{ poll.html_title }}">{{ poll.html_title }}</button>
        {% endfor %}
    </div>
    {% for poll in polls.values() %}
        <div id="{{ poll.html_title }}" class="tab-content">
            <b>
                🔗 <a href="{{ poll.url }}">Hier zur Mucke eintragen</a>
            </b>
            {{ poll.html_description }}
            <div class='table-container'>
                <table>
                    <tr>
                        <th>Register</th>
                        <th>Ja</th>
                        <th>Vielleicht</th>
                        <th>Nein</th>
                    </tr>
                    {% for option, votes in poll_votes[poll.id].options.items() %}
                        <tr>
                            <td>{{ option }}</td>
                            {% for names in (votes.sorted_yes(), votes.sorted_maybe(), votes.sorted_no()) %}
                                <td>
                                    <ul>
                                        {% for name in names %}
                                            <li>{{ name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tabButtons = document.querySelectorAll('.tab-button');
        const tabContents = document.querySelectorAll('.tab-content');

        // Show the first tab by default
        tabButtons[0].classList.add('active');
        tabContents[0].classList.add('active');

        tabButtons.forEach(button => {
            button.addEventListener('click', () => {
                const tabId = button.getAttribute('data-tab');

                tabButtons.forEach(btn => btn.classList.remove('active'));
                tabContents.forEach(content => content.classList.remove('active'));

                button.classList.add('active');
                document.getElementById(tabId).classList.add('active');
            });
        });
    });
</script>
</body>
</html>
