<!DOCTYPE html>
<html>
<head>
    <title>Muckenlisten</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        {% include 'style.css' %}
    </style>
</head>
<body>
<div class="header">
    <h1>Muckenlisten</h1>
    <h2>🚧 <i>Erster, grober Entwurf</i></h2>
    <p>💡 Eingegangene Verbesserungsvorschläge sind
        <a href="https://github.com/AkaBlas/akalisten/issues">hier</a> zu finden.</p>
    <p>🕓 Zuletzt aktualisiert: {{ now.strftime("%d.%m.%Y %H:%M:%S") }}</p>
</div>
<div class="tab-container">
    <div class="tab-buttons">
        {% for poll in polls.values() %}
            <button class="tab-button"
                    data-tab="{{ poll.html_title }}">{{ poll.html_title }}</button>
        {% endfor %}
    </div>
    {% for poll in polls.values() %}
        <div id="{{ poll.html_title }}" class="tab-content">
            <b>
                🔗 <a href="{{ poll.url }}">Hier zur Mucke eintragen</a>
            </b>
            {% if poll.mucken_info.has_any_info %}
                {{ poll.mucken_info.html_info }}
            {% endif %}
            {% if poll.mucken_info.additional %}
                <p>
                    <b>📝 Zusätzliche Informationen:</b>
                    {{ poll.mucken_info.html_additional }}
                </p>
            {% endif %}
            <div class='table-container'>
                <table>
                    <tr>
                        <th>Register</th>
                        <th>Ja</th>
                        <th>Vielleicht</th>
                        <th>Nein</th>
                    </tr>
                    {% for option, votes in poll_votes[poll.id].options.items() %}
                        <tr>
                            <td>{{ option }}</td>
                            <td>
                                <ul>
                                    {% for user in votes.sorted_yes() %}
                                        <li>{{ user.html_display_name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {#
                                Maybe Option gets special handling: If someone voted maybe more than
                                once, they'll get a * behind their name.
                            #}
                            <td>
                                <ul>
                                    {% for user in votes.sorted_maybe() %}
                                        {% set prefix = "*" if (poll_votes[poll.id].users[user].maybe | length) > 1 else "" %}
                                        <li>{{ prefix }}{{ user.html_display_name }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            {#
                                No Option gets special handling: remove everyone who has voted
                                yes or maybe somewhere else from the no list.
                            #}
                            <td>
                                <ul>
                                    {% for user in votes.sorted_no() %}
                                        {% if not (poll_votes[poll.id].users[user].yes or poll_votes[poll.id].users[user].maybe) %}
                                            <li>{{ user.html_display_name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
</div>

<script>
    {% include 'script.j2' %}
</script>
</body>
</html>
