:root {
    /* initial best guess of the header height */
    /* will be refined after loading the page using JS */
    --header-height: 4rem;
}

body {
    padding-top: var(--header-height);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

body, .custom-navbar, footer {
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.custom-navbar {
    padding: .75rem 0;
    background-color: var(--bs-body-bg);
    /*background-color: transparent;*/
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.custom-navbar.scroll-up {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.custom-navbar.scroll-down {
    transform: translateY(-100%);
}

.bi {
    /*color: var(--bs-primary);*/
    /*width: 1.25em;*/
    /*height: 1.25em;*/
    /*flex: none;*/
}

.bi.lg {
    width: 1.5em;
    height: 1.5em;
}

.bi.sml,
.bi.fs-6 {
    font-size: 1rem !important;
}

.icon-text {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: normal;
    gap: 0.5ex;
}

.anchor-link {
    opacity: 0;
    transition: opacity 0.2s;
}
h2:hover .anchor-link,
h2:focus-within .anchor-link,
h2 .anchor-link:focus,
h2 .anchor-link:active {
    opacity: 1;
}
h2:target .anchor-link {
    opacity: 1;
}

/*Bootstrap: ab md gibt es zwei Spalten nebeneinander, darunter nur eine */
@media (max-width: 767.98px) {
    .fill-entry {
        display: none;
        margin: 0;
    }
    .register-category.fill-entry {
        margin: 0;
    }
}

.fill-entry.hidden {
    display: none;
    margin: 0;
}
.register-category.fill-entry.hidden {
    margin: 0;
}


/* Entferne das Margin beim letzten Register-Block in jeder Spalte */
.column .register-category:last-child {
    margin-bottom: 0 !important;
}
