{% macro render_polls(polls) %}
    {% for poll in polls %}
        <div class="accordion" data-state="closed">
            <button class="accordion-header" aria-expanded="false"
                    aria-controls="poll-{{ poll.id }}">
                {{ poll.html_title }}
                <i data-lucide="chevron-down" class="lucide-icon lg accordion-icon"></i>
            </button>
            <div class="accordion-content" id="poll-{{ poll.id }}" hidden>
                <div class="links-container">
                    <a href="{{ poll.url }}" target="_blank" rel="noopener noreferrer"
                       class="pseudo-button links-entry">
                        <div class="icon-text">
                            <i data-lucide="link" class="lucide-icon"></i>
                            <span>Teilnehmen mit AkaCloud-Account</span>
                        </div>
                    </a>
                    {% if poll.public_url %}
                        <a href="{{ poll.public_url }}" target="_blank" rel="noopener noreferrer"
                           class="pseudo-button links-entry">
                            <div class="icon-text">
                                <i data-lucide="link" class="lucide-icon"></i>
                                <span>Teilnehmen ohne AkaCloud-Account</span>
                            </div>
                        </a>
                    {% endif %}
                </div>
                <div class="poll-info">
                    {% if poll.expire_date %}
                        <p>
                        <span class="icon-text">
                            <i data-lucide="calendar-clock" class="lucide-icon lg"></i>
                            <b>Umfrage endet am:</b> {{ poll.expire_date.strftime('%d.%m.%Y %H:%M') }} Uhr
                        </span>
                        </p>
                    {% endif %}
                    <p>
                        <i data-lucide="info" class="lucide-icon lg"></i>
                    </p>
                    {{ poll.html_description }}
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}