{% from 'render_link.j2' import render_link %}
{% from 'render_card_grid.j2' import render_card_grid %}
{% macro render_links(links) %}
{% set cards = [] %}
{% for link in links %}
    {% set has_description = link.html_description is defined and link.html_description %}
    {% set buttons = [] %}
    {% if link.basic_url %}
        {% set _ = buttons.append({
            "icon": link.icon,
            "text": link.login_url and "Öffnen ohne AkaCloud-Account" or "Öffnen",
            "target": link.basic_url,
            "css_class": " btn-outline-primary"
        }) %}
    {% endif %}
    {% if link.login_url %}
        {% set _ = buttons.append({
            "icon": link.icon,
            "text": "Öffnen mit AkaCloud-Account",
            "target": link.login_url,
            "css_class": " btn-outline-success"
        }) %}
    {% endif %}
    {% set body = link.html_description if has_description else "" %}
    {% set card = {
        "title": link.html_title,
        "body": body,
        "buttons": buttons,
    } %}
    {% set _ = cards.append(card) %}
{% endfor %}
{{ render_card_grid(cards) }}
{% endmacro %}