{% from 'render_link.j2' import render_link %}
{% macro render_links(links) %}
<div class="row g-4">
    {% for link in links %}
        <div class="col-12 col-md-6 col-lg-4">
            {{ render_link(link) }}
        </div>
    {% endfor %}
</div>
{% endmacro %}