{% from 'render_card_grid.j2' import render_card_grid %}
{% macro render_lists(lists) %}
{% set cards = [] %}
{% for list in lists %}
    {% set body %}
        {% if list.expire_date %}
            <p class="mb-2">
                <span class="d-flex align-items-center">
                    <i class="bi bi-calendar-week me-2"></i>
                    <b>Liste verfügbar bis:</b>&nbsp;{{ list.expire_date.strftime('%d.%m.%Y') }}
                </span>
            </p>
        {% endif %}
        {% if list.html_description %}
            <p class="card-text mb-0">
                {{ list.html_description }}
            </p>
        {% endif %}
        {% if list.available_offline %}
            <div class="btn btn-outline-secondary disabled d-flex align-items-center mt-3">
                <i class="bi bi-wifi-off me-2"></i>
                Eintragen offline bei der Probe
            </div>
        {% endif %}
    {% endset %}
    {% set buttons = [] %}
    {% if list.login_url %}
        {% set _ = buttons.append({
            "icon": "cloud-check",
            "text": "Eintragen mit AkaCloud-Account",
            "target": list.login_url,
            "css_class": "btn btn-outline-success"
        }) %}
    {% endif %}
    {% if list.basic_url %}
        {% set _ = buttons.append({
            "icon": "pencil-fill",
            "text": "Eintragen ohne AkaCloud-Account",
            "target": list.basic_url,
            "css_class": "btn btn-outline-primary"
        }) %}
    {% endif %}
    {% set card = {
        "title": list.html_title,
        "body": body,
        "buttons": buttons
    } %}
    {% set _ = cards.append(card) %}
{% endfor %}
{{ render_card_grid(cards) }}
{% endmacro %}