{% macro render_info(icon_name, text) %}
    <div class="col mb-2">
        <div class="alert alert-secondary alert-sm  alert-entry d-flex align-items-center mb-0">
            <span class="me-2 d-flex align-items-center">
                <i class="bi bi-{{ icon_name }} fs-5"></i>
            </span>
            <span>{{ text }}</span>
        </div>
    </div>
{% endmacro %}