{% from 'render_card.j2' import render_card %}
{% macro render_card_grid(cards) %}
    <div class="row g-4">
        {% for card in cards %}
            {{ render_card(**card) }}
        {% endfor %}
    </div>
{% endmacro %}
