{% macro render_muckenlisten(data) %}
    {% from 'render_info.j2' import render_info %}
    {% from 'render_category.j2' import render_category %}
    {% set polls, poll_votes = data %}
    <div class="accordion" id="accordion-muckenlisten">
        {% for poll in polls.values() %}
            <div class="accordion-item mb-3">
                <h2 class="accordion-header" id="heading-mucke-{{ poll.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#mucke-{{ poll.id }}" aria-expanded="false"
                            aria-controls="mucke-{{ poll.id }}">
                        {{ poll.html_title }}
                    </button>
                </h2>
                <div id="mucke-{{ poll.id }}" class="accordion-collapse collapse"
                     aria-labelledby="heading-mucke-{{ poll.id }}">
                    <div class="accordion-body">
                        {% if poll.url %}
                            <a href="{{ poll.url }}" target="_blank" rel="noopener noreferrer"
                               class="btn btn-outline-primary mb-2">
                                <span class="icon-text">
                                    <i class="bi bi-link-45deg"></i>
                                    <span>Hier zur Mucke eintragen</span>
                                </span>
                            </a>
                        {% endif %}
                        {% if poll.mucken_info.has_any_info or poll.mucken_info.additional %}
                            <div class="accordion mb-2" id="accordion-mucke-infos-{{ poll.id }}">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="heading-mucke-infos-{{ poll.id }}">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#mucke-{{ poll.id }}-infos" aria-expanded="false"
                                                aria-controls="mucke-{{ poll.id }}-infos">
                                            Mucken-Infos
                                        </button>
                                    </h2>
                                    <div id="mucke-{{ poll.id }}-infos" class="accordion-collapse collapse"
                                         aria-labelledby="heading-mucke-infos-{{ poll.id }}">
                                        <div class="accordion-body">
                                            {% if poll.mucken_info.has_any_info %}
                                                <ul class="multi-column-list">
                                                    {% if poll.mucken_info.date %}
                                                        {{ render_info('calendar', poll.mucken_info.date.strftime('%d.%m.%Y')) }}
                                                    {% endif %}
                                                    {% if poll.mucken_info.location %}
                                                        {{ render_info('geo-alt', poll.mucken_info.location) }}
                                                    {% endif %}
                                                    {% if poll.mucken_info.time_m2 %}
                                                        {{ render_info('truck', "Mensa 2: " + poll.mucken_info.time_m2.strftime('%H:%M') + " Uhr") }}
                                                    {% endif %}
                                                    {% if poll.mucken_info.time_meeting %}
                                                        {{ render_info('clock', "Direkt: " + poll.mucken_info.time_meeting.strftime('%H:%M') + " Uhr") }}
                                                    {% endif %}
                                                    {% if poll.mucken_info.time_start %}
                                                        {{ render_info('play', "Start: " + poll.mucken_info.time_start.strftime('%H:%M') + " Uhr") }}
                                                    {% endif %}
                                                    {% if poll.mucken_info.time_end %}
                                                        {{ render_info('stop', "Ende: " + poll.mucken_info.time_end.strftime('%H:%M') + " Uhr") }}
                                                    {% endif %}
                                                </ul>
                                            {% endif %}
                                            {% if poll.mucken_info.additional %}
                                                <p class="icon-text">
                                                    <i class="bi bi-info-circle"></i>
                                                    <b>Zusätzliche Informationen:</b>
                                                    {{ poll.mucken_info.html_additional }}
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="filters mb-3">
                            <div class="d-flex flex-wrap align-items-center gap-2 mb-2">
                                <label class="me-2 mb-0">Filter:</label>
                                <button type="button" class="btn btn-outline-primary active" data-filter="all">Alle</button>
                                <button type="button" class="btn btn-outline-success" data-filter="yes">Dabei</button>
                                <button type="button" class="btn btn-outline-danger" data-filter="no">Nicht Dabei</button>
                                <button type="button" class="btn btn-outline-warning" data-filter="maybe">Vielleicht Dabei</button>
                                <div class="form-check ms-3">
                                    <input class="btn-check" type="checkbox" id="not-voted-checkbox-{{ poll.id }}" name="not-voted-checkbox-{{ poll.id }}">
                                    <label class="btn btn-outline-secondary" for="not-voted-checkbox-{{ poll.id }}">
                                            Keine Antwort
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <label for="category-select-{{ poll.id }}" class="me-2 mb-0">Kategorie:</label>
                                <select class="form-select form-select-sm w-auto" id="category-select-{{ poll.id }}">
                                    <option value="all">Alle</option>
                                    {% for option_id, votes in poll_votes[poll.id].options.items() %}
                                        <option value="{{ votes.text }}">{{ votes.text }}</option>
                                    {% endfor %}
                                    <option hidden value="unknown" class="strikethrough">Unbekannt</option>
                                </select>
                            </div>
                        </div>

                        <div class="row g-4">
                            {% for col_class, col_name, col_icon, attr_name, color in (
                                    ("yes", "Dabei", "hand-thumbs-up", "sorted_yes", "primary"),
                                    ("no", "Nicht Dabei", "hand-thumbs-down", "sorted_sanitized_no", "success"),
                                    ("maybe", "Vielleicht Dabei", "question-circle", "sorted_maybe", "warning"),
                                    ("not-voted", "Keine Antwort", "search", "sorted_sanitized_not_voted", "secondary"),
                                ) %}
                                <div class="col-md-6 col-lg-3 mb-3 column {{ col_class }} border border-{{ color }} rounded shadow-sm pt-2">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h2 class="h5 mb-0 text-{{ color }}">
                                            <span class="icon-text icon-header">
                                                <span>{{ col_name }}</span>
                                                {% if col_class == "not-voted" %}
                                                    <span class="ms-1"
                                                          data-bs-toggle="tooltip"
                                                          data-bs-placement="top"
                                                          title="Diese Info stammt aus der Registerzuteilung in der AkaCloud ist wahrscheinlich nicht komplett korrekt. Bitte versteh sie als groben Anhaltspunkt.">
                                                        <i class="bi bi-info-circle fs-6 text-{{ color }}"></i>
                                                    </span>
                                                {% endif %}
                                            </span>
                                        </h2>
                                        <i class="bi bi-{{ col_icon }} ms-2 fs-4 text-{{ color }}"></i>
                                    </div>
                                    <hr class="mt-2 mb-3 border-{{ color }}">
                                    {% for votes in poll_votes[poll.id].options.values() %}
                                        {{ render_category(votes, attr_name) }}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}