<!-- wp:paragraph -->
<p><a href="https://listen.akablas.de" target="_blank" rel="noreferrer noopener">
    Klicke hier</a>, um den Inhalt unten in einer neuen Seite zu öffnen. Die
    Zugangsdaten sie die gleichen wie für den internen Bereich.</p>
<!-- /wp:paragraph -->
<!-- wp:html -->
{% include "index.j2" %}
<!-- /wp:html -->