{% macro render_category(votes, vote_type) %}
{% if votes[vote_type]() %}
    <div class="category" data-category-id="{{ votes.id }}" data-category-name="{{ votes.text }}">
        <div class="category-name">{{ votes.text }}</div>
        <ul>
            {% for user in votes[vote_type]() %}
                <li data-user-id="{{ user.id }}">{{ user.html_display_name }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endmacro %}