{% from 'render_card.j2' import render_card %}
{% macro render_card_grid(cards, label) %}
    <div class="row g-4" data-masonry='{"percentPosition": true }'>
        {% for card in cards %}
            {% set card = card.copy() %}
            {% set _ = card.update({'label': label}) %}
            {{ render_card(**card) }}
        {% endfor %}
    </div>
{% endmacro %}
